@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 157, 23, 77;
  --background-start-rgb: 255, 241, 242;
  --background-end-rgb: 255, 228, 230;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

